@using Example_Client.Models
@model Product
<head>
     <script src="~/scripts/signalr-client-1.0.0-alpha2-final.min.js"></script>
     <script>
        let connection = new signalR.HubConnection('/producthub');
         
         connection.on('SetConnectionId', data => {
                console.log("ConnectionID : "+data);
                var result=connection.invoke('ConnectGroup','@Model.Name',data);
                console.log(result);

        });   

        connection.on('ChangeProductValue', data => {
            console.log(JSON.stringify(data));
               alert("New Price : "+data.value +" ₺");
               document.getElementById("productValue").innerHTML=data.value;
        });

        connection.start()
     </script>    
</head>
 <div class="container">
    <div class="jumbotron">
        <h3> Purchased = @Model.Name : <span id="productValue">@Model.Value</span> ₺</h3>
    </div>
 </div>