@using Example_Client.Models
@model Product
<head>
     <script src="~/lib/signalr/signalr.js"></script>
     <script>
        // let connection = new signalR.HubConnection('/producthub');
        const connection = new signalR.HubConnectionBuilder()
        .withUrl('/producthub').build(); // http://localhost:4000/producthub

         
         connection.on('SetConnectionId', data => {
                console.log("ConnectionId : "+data);
                var result=connection.invoke('ConnectGroup','@Model.Name',data);
                console.log(result);

        });   

        connection.on('ChangeProductValue', data => {
            console.log(JSON.stringify(data));
               alert("New Price : "+data.value +" ₺");
               document.getElementById("productValue").innerHTML=data.value;
        });
        
        connection.start().catch(err => console.error(err.toString()));

        // connection.start()
     </script>    
</head>
 <div class="container">
    <div class="jumbotron">
        <h3> Purchased = @Model.Name : <span id="productValue">@Model.Value</span> ₺</h3>
    </div>
 </div>